*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
#main{
    display: flex;
    width:100%;
    height:100%;
}
#left{
    position: relative;
    width:30%;
    height:100%;
    background-color: rgb(205, 64, 64)
}
#right{
    position: relative;
    width:70%;
    height:100%;
    background-color:rgb(245, 238, 238)
}
#right .b{
    position: absolute;
     width:45%;
    height:35%; 
    top:31%;
    left:1%;
    transform: translate(-50%,-50%) rotate(-30deg);
}
#left #box{
    position: absolute;
    width:85%;
    top:5%;
    left:7%;

    /* height:40%; */
    /* background-color: #fff; */
}
#left h1{
   font-size: 50px;
   color:#fff;
   line-height: 1;
}
#left span{
    font-weight: 300;
    color: #fff;
}
#left h3{
    margin-top: 10px;
   font-size: 20px;
   color: white;
}
#left p{
    font-size:14px;
    margin-top: 13px;
    color: #fff;
    opacity: .8;
    line-height: 1.6;
}
#left button{
    padding:12px 22px;
    margin-top: 20px;
    color:rgb(180, 65, 65);
    border:1px solid rgb(205, 62, 62);
}
#left #botm {
  
    padding:20px;
    width:90%;
    background-color: #fff;
    /* height:20%; */
    position: absolute;
    top:78%;
}

#botm h1{
    font-size: 22px;
   color: rgb(218, 69, 69);
}
#botm p{
    color:#000;
    margin-top: 2%;
    font-size: 13px;
}
#center{
    position: absolute;
    top:45%;
    left:55%;
    transform: translate(-50%,-50%);
    width:50%;
    height:50%;
    /* background-color:yellow; */
}
#center h1{
   font-size: 50px;
   color:rgb(228, 48, 48);
}
#center  h1 span{
    font-weight: 300;
    color:black;
}
#center h3{
    font-size: 18px;
    margin-top: -5px;
    font-weight: 400;

}
#center span{
    color:rgb(224, 46, 46);
    font-weight: 600;
}
#center p{
    margin-top: 13px;
    font-size: 14px;
    opacity: .8;
    margin-bottom: 15px;
    line-height: 1.8;
}
 #center #btn{
    margin-top: 27px;
    display: flex;
    gap:20px;
}
#center #btoo1{
    font-size: 14px;
    padding: 12px 22px;
    background-color:#fff;
    color: rgb(231, 67, 67);
    border-radius: 5px;
    border: 1.5px solid rgb(212, 65, 65);
}
#center #btoo2{
    padding:10px;
    color: #fff;
    font-size: 14px;
    border-radius:22px;
    font-weight: 600;
    background-color:rgb(228, 48, 48);
    border:none;
}
#samples{
    gap:10px;
    margin-top: 15px;
    display: flex;
    width:300px;
}
#sample img{
    width:100%;
    /* height:100%; */
}
#center h4{
    margin-top: 25px;
    font-weight: 600;
}